<div id="menu">

  <header>
    <div class="container">

      <div class="row">

        <div class="col-md-9">
          <a href="/">
            <img src="assets/logo.png" alt="logo.png">
          </a>
        </div>

        <div class="menu-social col-md-3 text-right">
          <span class="menu-social--link" title="facebook">
            <a href="#">
              <img class="img-responsive" src="assets/facebook.png" alt="facebook.png">
            </a>
          </span>
          <span class="menu-social--link" title="twitter">
            <a href="#">
              <img class="img-responsive" src="assets/twitter.png" alt="twitter.png">
            </a>
          </span>
          <span class="menu-social--link" title="google plus">
            <a href="#">
              <img class="img-responsive" src="assets/google.png" alt="google-plus-png">
            </a>
          </span>
        </div>

      </div>

      <nav>
        <ul class="row menu-links">
          <li class="menu-link">
            <a href="/home">
              HOME
            </a>
          </li>
          <li class="menu-link active">
            <a href="/registro-alamcen">
              REGISTRO ALMACÉN
            </a>
          </li>
          <li class="menu-link">
            <a href="/registro-persona">
              REGISTRO PERSONA
            </a>
          </li>
          <li class="menu-link">
            <a href="/listados">
              LISTADOS
            </a>
          </li>
          <li class="menu-link">
            <div class="menu-link--tel">
              <a href="tel:3002345678">
                <span class="menu-link--tel-image"></span>
                <span class="menu-link--tel-number"> (300) 234-5678 </span>
              </a>
            </div>
          </li>
        </ul>
      </nav>

    </div>

  </header>

</div>
